<carousel>
    <slide>
      <img src="assets/images/main_slider/w1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/main_slider/w2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/main_slider/w3.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/main_slider/w4.jpg" alt="third slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="assets/images/main_slider/w5.jpg" alt="third slide" style="display: block; width: 100%;">
      </slide>
  </carousel>
